* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

body {
  font-family: "Lora", serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Space Mono", monospace;
}

.button-view-all {
  color: white;
  width: 150px;
  height: 60px;
  background-color: orangered;
  border: none;
  font-size: 20px;
  border-radius: 0% 20% 20% 20%;
  margin-right: 50px;
}
 
.header__pretitle {
  color: orangered;
  font-size: 20px;
  margin: 25px;
  display:flex;    
  justify-content: space-between;

}

.header-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 21px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.images {
  display: flex;
  justify-content: space-around;
}

img {
  width: 370px;
  height: 400px;
  border-radius: 15%;
  object-fit: cover;
  margin: 15px;
}
